/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2em;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;    
    font-family: 'Poppins', sans-serif;
}
:root{
 --main-color:gold;
--second-color:#ffac38;
/* --text-color:white; */
/* --gradient:linear-gradient(#fe5b3d,#ffac38); */
--gradient:#ffd700;
}
/* custom scroll Bar */
/* html::-webkit-scrollbar{
    width: 0.5rem;
} */
/* html::-webkit-scrollbar-track {
 background: transparent;
    
}
html::-webkit-scrollbar{
 background: var(--main-color);
 border-radius: 5rem;   
} */

section{
    padding: 50px 100px;
    
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: blue;
    padding: 15px 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

/* .logo img{
    width: 40px;
} */
.logo{
    color: white;
}
.navbar{
    display: flex;
    color: white;
}

.navbar li{
    position: relative;
}

.navbar a{
    font-size: 1rem;
    /* padding: 0px 10px; */
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 10px;
    border-radius: 0.9rem;
}
/* 
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  } */
  
  /* Style the active class, and buttons on mouse-over */
  .active{
    background-color: #666;
    color: white;
  }

.navbar a:hover{
    background-color: gold;
    color: #000000;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.header-btn a{
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.header-btn .sign-in, .header-btn .log-out, .header-btn .profile-name{
    /* background: #474fa0; */
    color: #fff;
    border-radius: 0.9rem;
}

.header-btn .sign-in:hover, .header-btn .profile-name:hover{
    background: var(--main-color);
    color: black;
}

.home{
    background-image: url("images/Background-image-2-9.png");
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position:center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.browse{
    position: absolute;
    top: 10%;
    margin-left: 100px;
    margin-top: 10px;
    text-decoration: none;
    list-style: none;
    text-align: left;
}

.vehicle-browse{
    margin-top: 20px;
    text-align: center;
}

.browse-list-2{
    /* position: relative; */
    /* top: 10%; */
    /* margin-left: 100px; */
    /* margin-top: 10px; */
    text-decoration: none;
    list-style: none;
    text-align: left;
    
}

.browse li, .vehicle-browse li{
    display: inline-block;
    /* padding: 0% 20px; */
}

.browse-list-2 li{
    display: inline-block;
    /* padding: 0% 20px; */
    padding: 2px;
}

.browse li a, .vehicle-browse li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.9rem;
    border-color: gold;
}

.browse-list-2 li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.9rem;
    border-color: gold;
}



.browse li a:hover, .vehicle-browse li a:hover{
    background-color: rgb(255, 217, 0);
}

.browse-list-2 li a:hover{
    background-color: rgb(255, 217, 0);
}

/* .vehicle-browse{
    position: relative;
    padding: 20px;
}

.vehicle-browse li{
    align-items: center;
} */


.text h1{
    font-size: 3.5rem;
    letter-spacing: 2px;
}

.text span{
    color: var(--main-color);
}
.text p{
    margin: 00.5rem 0 1rem;

}

/* .app-stores{
    display: flex;
}

.app-stores img{
    width: 100px;
    margin-right:1rem;
    cursor: pointer;
} */

.form-container form{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    /* bottom: 4rem; */
    /* left: 100px; */
    background: #eeeff1;
    padding: 20px;
    border-radius: 0.9rem;
}

.input-box{
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}

.input-box span{
    font-weight: 500;
}

.input-box input{
    padding: 7px;
    outline: none;
    border: none;
    background: white;
    border-radius: 0.9rem;
    font-size: 1rem;
}

.form-container form .btn{
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: none;
    border-radius: 0.9rem;
    background: #0000ff;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.form-container form .btn:hover{
    cursor: pointer;
    color: black;
    background: var(--main-color);
}

.heading{
    padding-top: 20px;
    text-align: center;
}

.heading span{
    font-weight: 500;
    text-transform: uppercase;
}

.heading h1{
    font-size: 2rem;
}

.ride-container{
    background-color: #eeeff1;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;
    border-radius: 0.9rem;
}

.ride-container .box{
    text-align: center;
    padding: 20px;
}

.ride-container .box .bx{
    font-size: 34px;
    padding: 10px;
    background: #eeeff1;
    border-radius: 0.9rem;
    /* color: var(--main-color); */
    color: blue;
}

.ride-container .box .fa-solid{
    font-size: 34px;
    padding: 10px;
    background: #eeeff1;
    border-radius: 0.9rem;
    /* color: var(--main-color); */
    color: #0000ff;
}

.ride-container .b0x h2{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}

/* .ride-container .box .bx:hover, 
.ride-container .b0x .bxs-calendar-check{
    background: var(--gradient);
    color: #000000;
}

.ride-container .box .fa-solid:hover, 
.ride-container .b0x .fa-solid-money-bill{
    background: var(--gradient);
    color: #000000;
} */

.vehicles-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 1rem;
    margin-top: 2rem;
}

.more-vehicles hr{
    height: 1px;
    border: none;
    background-color: blue;
}

.more-vehicles p{
    margin-top: 2rem;
    padding-left: 5px;
    /* font-weight: bold; */
}

.more-vehicles-text{
    font-weight: bold;
}

.more-vehicle-container{
    margin-top: 0rem;
}

.more-vehicles{
    margin-top: 4rem;
}

.vehicles-container .box{
    background-color: #eeeff1;
    padding: 10px;
    border-radius: 0.9rem;
    overflow: hidden;
}

.vehicles-container .box .box-img{
    /* cursor: pointer; */
    background-color: white;
    width: 100%;
    height: 200px;
    border-radius: 0.9rem;
    transition: all ease-in-out 0.2s;
    overflow: hidden;
    transition: transform .2s;
    margin: 0 auto;
}

.vehicles-container .box .box-img:hover{
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.397);
    transition: all ease-in-out 0.2s;
    transform: scale(1.1);
}

.vehicles-container .box .box-img img{
    width: 100%;
    height: 100%;
    border-radius: 0.9rem;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    transition: all ease-in-out 0.2s;
}

.vehicles-container .box h3{
    padding: 0 10px;
    /* border: 1px solid black; */
    /* width: 58px; */
    border-radius: 0.9rem;
    margin: 1rem 0 1rem;
}
/* 
.vehicles-container .box h3{
    font-weight: 500;

} */

.more-vehicle-container > .vehicles-container > .box > h3, .more-vehicle-container > .vehicles-container > .box > p, .more-vehicle-container > .vehicles-container > .box > .cost{
    margin-bottom: -25px;
}

.vehicles-container .box h2, .vehicles-container .box p{
    /* font-size: 1.1rem; */
    /* font-weight: 600; */
    /* color: green; */
    /* margin: 0.2rem 0 0.5rem; */
    padding: 0 10px;
}

.vehicles-container .box .cost{
    color: green;    
    /* justify-content: space-between; */
    /* display: flex; */
}

.vehicles-container .box .cost .avaibility{
    /* text-align: right; */
    font-size: 15px;
}

.vehicles-container .box .cost .unavailable{

    color: red;
}

.vehicles-container .box .cost p{
    color: green;    
}

.vehicles-container .box .more-vehicles-cost p{
    color: green;    
}
.vehicles-container .box p span{
    font-size: 0.8rem;
    font-weight: 500;
    color: black;
}

.vehicles-container .box .btn{
    margin: 10px;
    display: flex;
    justify-content: center;
    background: blue;
    color: #fff;
    padding: 10px;
    border-radius: 0.9rem;
}

.vehicles-container .box .btn:hover{
    background: var(--main-color);
    color: #000000;
}

.about-container, .detail-container, .rent-container, .profile-container, .edit-profile-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* margin-top: 2rem; */
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
}

.profile-container, .edit-profile-container{
    border-radius: 0.9rem;
    box-shadow: 2px 3px 13px gray;
    transition: all ease-in-out 0.3s;
    padding: 30px;
}

.detail-imgs img{
    width: 100%;
}

.about-img img{
    width: 80%;
    margin-left: 40px;
}

.profile-img img{
    margin-left: 30%;
    border-radius: 50%;
    border: 8px solid #DCDCDC;
    width: 250px;
    height: 250px;
    align-items: center;
}

.about-text span{
    font-weight: 500;
    color: blue;
    text-transform: uppercase;
}

.about-text .aboutus-topics{
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.about-text p{
    margin: 0.5rem 0 1.4rem;
}

.about-text .btn{
    padding: 10px 10px;
    background: blue;
    color: #fff;
    border-radius: 0.9rem;
    border: none;
    cursor: pointer;
}


.about-text .btn:hover{
    color: black;
    background: var(--main-color);
}

.faq-container{
    align-items: center;
    background-color: #eeeff1;
    text-align: center;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 0.9rem;
}

.faq-text p{
    margin: 0.5rem 0 1.4rem;
}



.reviews-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.rev-img{
    width: 70px;
    height: 70px;
}

.rev-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}

.reviews-container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 4px 41px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
}

.reviews-container .box .h2{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}

.reviews-container .box p{
    font-style: italic;
}

.reviews-container .box .starts .bx{
    color: var(--main-color);

}

.details{
    position: relative;
    text-align: center;
    margin: 60px;
    padding: 60px;
}

.details h2{
    font-size: 80px;
}

.details p{
    font-size: 30px;
}

.newsletter{
    text-align: center;
    background: #eeeff1;
    margin-bottom: 30px;
    border-radius: 0.9rem;
}

.newsletter h2{
    color: #000000;
    font-size: 1.8rem;
}

.newsletter .box{
    margin-top: 1rem;
    border-radius: 0.9rem;
    padding: 4px 8px;
}

.newsletter .box input{
    width: 350px;
    padding: 10px;
    outline: none;
    border-width: 0 0 2px;
    border-color: white;
    transition: all ease-in-out 0.3s;
    box-shadow: 2px 3px 5px gray;
    border-radius: 0.9rem;
}

.newsletter input:hover{
    box-shadow: 2px 3px 13px gray;
    transition: all ease-in-out 0.3s;
    border-radius: 0.9rem;
}

.newsletter .box button{
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 0.9rem;
    cursor: pointer;
    margin-top: 20px;
}

.newsletter .box button:hover{
    background-color: gold;
    color: black;
}

.newsletter .box input:focus{
    border-color: blue;
}

/* .footer .box{
    margin-top: 1rem;
    background: #fff;
    border-radius: 0.9rem;
    padding: 4px 8px;
    width: 400px;
    display: flex;
    justify-content: space-between;

}

.footer .box input{
    border: none;
    outline: none;

}

.footer .box .btn{
    background: blue;
    color: #fff;
    padding: 8px 20px;
    border-radius: 0.9rem;
}

.footer .box .btn:hover{
    background-color: gold;
    color: black;
} */


footer{
    width: 100%;
    position: absolute;
    background: blue;
    color: white;
    padding: 3% 0 0;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    /* flex-basis: 25%; */
    padding: 10px;
}

.col h3{
    width: fit-content;
    margin-bottom: 10px;
    position: relative;
}

.e-option{
    line-height: 30px;
}

.footer-menu{
    /* text-align: center; */
    line-height: 30px;
    color: white;
}

.footer-menu li{
    position: relative;
}

.footer-menu a{
    display: inline-block;
    font-size: 1rem;
    /* padding: 15px; */
    color: var(--text-color);
    font-weight: 500;
}

.footer-menu a::after{
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all ease-in-out 0.2s;
    background: gold;
}

.footer-menu, a:hover::after{
    width: 100%;
}

.copyright{
    padding: 10px;
}

.copyright-text{
    text-align: center;
}

.social{
    text-align: center;
}

.social a{
    line-height: 30px;
    color: white;
    padding: 3px 6px;
    font-size: 21px;
}

.social a:hover{
    background-color: gold;
    border-radius: 0.9rem;
    color: black;
}

/* Making Responsive */
/* @media(max-width:991px){
    header{
        padding: 18px 40px;
    }
    section{
        padding: 50px 40px;
    }
}
@media(max-width:881px){
    .home{
        background-position: left;
    }
    .form-container form{
        bottom: 0.2rem;
        left: 40px;
    }
}

@media(max-width:768px){
    header{
        padding: 11px 40px;
    }
    #menu-icon{
        display: initial;
    }
    .sign-Up{
        display: none;
    }
    .text h1 {
        font-size: 2.5rem;
    }
    .home{
        grid-template-columns: 1fr;
    }
    .form-container form{
        position: unset;
    }
    header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow:  0 4px 4px rgba(0,0,0,0.1);
        transition: 0.2s ease;
        text-align: left;
    }
    .navbar .active{
        top: 100%;
    }
    .navbar a{
        padding: 1rem;
        border-left: 2px solid var(--main-color);
        margin: 1rem;
        display: block;
    }
    .navbar a:hover{
        color: #fff;
        background: var(--main-color);
        border: none;
    }
    .navbar a::after{
        display: none;

    }
    .heading span{
        font-size: 0.9rem;
        font-weight: 600;
    }
    .heading h1{
        font-size: 1.3rem;
    }
    .about-container{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img{
        padding: 1rem;
        order: 2;
    }
}

@media(max-width:568px){
    .copyright{
        flex-direction: column;
    }
    .newsletter .box{
        width: 284px;

    }
    .form-container{
        padding-top: 2rem;
    }
}
@media(max-width:350px){
    header{
        padding: 6px 14px;
    }
    .logo img{
        width: 30px;
    }
    section{
        padding: 50px 14px;
    }
    .header-btn .sign-in{
        padding: 7px 10px;
        font-size: 14px;
        font-weight: 400;
    }
    .text h1{
        font-size: 2rem;
    }
    
    .services-container{
        grid-template-columns: repeat(auto-fit,minmax(254px,auto));
    }

} */

.signup-body{
    background-image: url("images/signup-bg-7.png");
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    display: grid;
    align-items: center;
    /* grid-template-columns: repeat(2, 1fr); */
}

.signup-txt, .contact-txt, .change-password-txt{
    font-size: 30px;
    font-weight: bold;
}

.signup-txt{
    color: rgb(255, 255, 255);
}

.sign-up, .contact, .update-password-form{
    width: 400px;
    margin: 100px auto;
    text-align: center;
    padding: 10px;
    transition: all ease-in-out 0.3s;
    border-radius: 20px;
    margin-top: 7%;
    /* background-color: white; */
}

.sign-up .s-inputs input, .contact .c-inputs input, .c-inputs textarea, .update-password-form .p-inputs input, .s-inputs select{
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    display: block;
    width: 70%;
    transition: all ease-in-out 0.3s;
    box-shadow: 2px 3px 5px gray;
    border-radius: 18px;
}

/* .s-inputs select{
    color: rgba(0, 0, 0, 0.671);
} */
.s-inputs select > option{
    text-align: center;
}

.s-inputs input:hover, .c-inputs input:hover, .c-inputs textarea:hover, .p-inputs input:hover, .s-inputs select:hover{
    box-shadow: 2px 3px 13px gray;
    transition: all ease-in-out 0.3s;
    border-radius: 18px;
}

.sign-up input:focus, .c-inputs input:focus, .c-inputs textarea:focus, .update-password-box input:focus, .update-c-password-box input:focus{
  border-color: gold;
}

.sign-up:hover, .contact:hover, .update-password-form:hover{
    box-shadow: 0.5px 5px 20px black;
    transition: all ease-in-out 0.3s;
    /* background-color: rgb(255, 255, 255); */
}

/* .signup-txt{
    color: black;
} */

.sign-up input, .contact input, .update-password-form input{
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    /*border-radius: 18px;*/
    border: 1px solid gray;
    display: block;
    width: 70%;
    /* transition: all ease-in-out 0.3s; */

}

.c-inputs textarea::placeholder{
    text-align: center;
    /* padding: 30px; */
}

.sign-up input[type="submit"], .contact input[type="submit"], .update-password-form input[type="submit"]{
    border-radius: 0.9rem;
    background-color: blue;
    color: white;
    border: none;
    width: 20%;
    cursor: pointer;
} 
.change-pw-cancel{
    border-radius: 0.9rem;
    padding: 10px 13px;
    border: none;
    background-color: blue;
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.change-pw-cancel:hover{
    color: black;
    background-color: gold;
}

.sign-up input[type="submit"]:hover, .contact input[type="submit"]:hover, .update-password-form input[type="submit"]:hover{
    color: black;
    background-color: #ffd700;
    /* transition-duration: 0.3s; */
    /* box-shadow: 0.5px 1.5px 5px gray; */
} 

.sign-up p a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 100%;
    transition: all ease-in-out 0.2s;
}

.sign-up .aha:hover{
    color: blue;
    transition: all ease-in-out 0.2s;
}

.sign-up-term-condition-text p a{
    color: blue;
}

.sign-up-term-condition-text{
    font-size: 12px;
}

.sign-up-form p{
    line-height: 50px;
}

.sign-up-password-box{
    display: flex;
    align-items: center;
    height: 40px;
    text-align: center;
}

.sign-up-c-password-box{
    display: flex;
    align-items: center;
    text-align: center;
}

.sign-up-password-box input, .sign-up-c-password-box input{
    
    box-shadow: 2px 3px 5px gray;
    border-radius: 18px;
    margin-left: 60px;
    /* width: 100%; */
    /* border: none; */
    outline: none;
    border-width: 0 0 2px;
    transition: all ease-in-out 0.3s;
}

.sign-up-password-box .fa-solid, .sign-up-c-password-box .fa-solid{
    color: white;
    cursor: pointer;
    padding-right: 25px;
}

/* .sign-up-password-box input::placeholder, .sign-up-c-password-box input::placeholder{
    margin-left: -30px;
} */

/* .sign-up-password-box input:focus{
    border-color: blue;
} */

.sign-up-password-box input:hover, .sign-up-c-password-box input:hover{
    box-shadow: 2px 3px 13px gray;
    transition: all ease-in-out 0.3s;
    border-radius: 18px;
}

.login-body{
    background-image: url("images/login-bg-3.png");
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position:center right;
    background-size: cover;
    display: grid;
    align-items: center;
}

.login-form{
    width: 400px;
    margin: 100px auto;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;
}

.login-form:hover{
    box-shadow: 0.5px 5px 20px rgb(0, 0, 0);
    transition: all ease-in-out 0.3s;
    animation: rotate 5s infinite linear;
}

.login-form .l-inputs input{
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    display: block;
    width: 70%;
    border-radius: 18px;
    transition: all ease-in-out 0.3s;
    box-shadow: 2px 3px 5px gray;
}

.login-form input:focus {
  border-color: gold;
}

input::placeholder{
    text-align: center;
    color: rgba(0, 8, 34, 0.658);
}

.l-inputs input:hover, .login-password-box input:hover, .update-password-box input:hover, .update-c-password-box input:hover, .admin-login-password-box input:hover{
    box-shadow: 2px 3px 13px gray;
    /* transition: all ease-in-out 0.3s; */
    border-radius: 18px;
}

.login-password-box, .admin-login-password-box, .update-password-box, .update-c-password-box{
    display: flex;
    align-items: center;
    /* text-align: center; */
    height: 60px;
}

.login-password-box input, .admin-login-password-box input, .update-password-box input, .update-c-password-box input{
    text-align: center;
    padding: 10px;
    /* margin: 10px auto; */
    margin-left: 58px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    /* display: block; */
    width: 70%;
    border-radius: 18px;
    transition: all ease-in-out 0.3s;
    box-shadow: 2px 3px 5px gray;
}

.login-password-box .fa-solid, .admin-login-password-box .fa-solid{
    color: white;
    cursor: pointer;
    padding-left: 10px;
}

.update-password-box .fa-solid, .update-c-password-box .fa-solid{
    cursor: pointer;
    padding-right: 25px;
}


.login-txt{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.login-form p a{
    padding: 3px;
    border-radius: 0.5rem;
    background-color: #eeeff17c;
    text-decoration: none;
    color: gold;
    font-size: 100%;
}

.login-form input[type="submit"]{
    border-radius: 0.9rem;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    width: 20%;
    cursor: pointer;
    /* transition-duration: 0.3s; */
}

.admin-login-btn input[type="submit"]{
    margin-top: 20px;
}

.login-form input[type="submit"]:hover, .login-form input[type="submit"]:focus{
    color: black;
    box-shadow: 0.5px 1.5px 5px gray;
    background-color: gold;
    /* transition-duration: 0.3s; */
}  

.login-form .e-option:hover{
    color: blue;
    transition: all ease-in-out 0.2s;
}

.login-form p{
    line-height: 50px;
}

/* -------------------------------- */

.mySlides {
    display: none
}
img {
    vertical-align: middle;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  /* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -22px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    background-color: blue;
    /* transition: 0.6s ease; */
    /* border-radius: 50%; */
    border-radius: 0.9rem;
    user-select: none;
}

.next {
    right: 0;
    /* border-radius: 3px 0 0 3px; */
}

.prev:hover,
.next:hover {
    background-color: gold;
    color: black;
}

/* .text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
} */

/* .numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
} */

.dot {
    /* position: absolute; */
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: gold;
    /* border: 1px solid blue; */
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.active,
.dot:hover {
    background-color: blue;
}

/* .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
} */
  /* @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  } */
  /* @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  } */
  /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px
    }
}

.description p{
    text-align: justify;
    text-justify: inter-word;
}

.payorcancel, .saveorcancel{
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
    margin-top: 10px;
    align-items: center;
}

.rent-now-btn > button, .pay-now-btn > button, .save-btn > button{
    background-color: blue;
    border: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    border-radius: 0.9rem;
    cursor: pointer;
    margin-top: 10px;
    align-items: center;
}

.cancel-btn > a{
    position: relative;
    background-color: blue;
    border: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    border-radius: 0.9rem;
    cursor: pointer;
    margin-top: 10px;
    align-items: center;
}

.cancel-btn{
    margin-top: 10px;
}

.rent-now-btn > button:hover, .pay-now-btn > button:hover, .cancel-btn > a:hover, .save-btn > button:hover{
    background-color: gold;
    color: rgb(0, 0, 0);
}

.heading > .heading-2 a{
    color: rgb(255, 255, 255);
    float: left;
    background-color: blue;
    padding: 0 10px;
    border-radius: 0.5rem;
}

.heading > .heading-2 a:hover{
    background-color: gold;
    color: black;
}

.renting-detail{
    /* background-color: #eeeff1; */
    width: fit-content;
    padding: 20px;
    border-radius: 0.9rem;
    transition: all ease-in-out 0.3s;
}

.profile-detail{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20%;
    width: fit-content;    border-radius: 0.9rem; 
    padding: 10px;
    border-radius: 0.9rem;
    transition: all ease-in-out 0.3s;
}

.renting-detail:hover, .profile-edit-container:hover{
    box-shadow: 0.5px 5px 20px grey;
    transition: all ease-in-out 0.3s;
}

.renting-detail input, .renting-detail textarea, .profile-detail input{
    margin: 10px 0;
    transition: all ease-in-out 0.3s;
    outline: none;
    border-radius: 0.9rem;
    border: none;
    box-shadow: 2px 3px 5px gray;
    padding: 10px;
    text-align: center;
}


.renting-detail input:hover, .renting-detail textarea:hover, .profile-edit-container input:hover{
    box-shadow: 2px 3px 13px gray;
    transition: all ease-in-out 0.3s;
}

.renting-detail textarea::placeholder{
    text-align: center;
}

.profile-edit-container{
    /* margin-left: 100%; */
    padding: 20px;
    border-radius: 0.9rem; 
}

.edit-profile-container{
    display: flex;
}

.profile-edit-container select{
    /* width: 100%; */
    margin: 10px auto;
    padding: 10px;
    border-radius: 0.9rem; 
    border: none;
    /* background-color: aliceblue; */
    box-shadow: 2px 3px 5px gray;
    outline: 0;
    transition: 0.3s all ease-in-out;  
    border-radius: 0.9rem; 
}

.profile-edit-container select:hover{
    box-shadow: 2px 3px 13px gray;
    transition: all ease-in-out 0.3s;
}


.renting-detail p, .profile-edit-container p{
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

.v-details{
    display: flex;
    margin-top: -150px;
    /* background-color: #eeeff1; */
    /* justify-content: space-between; */
    gap: 3rem;
}

.v-details p{
    background-color: #eeeff1;
    padding: 10px;
    border-radius: 0.9rem;
}

.header-btn .profile-menu {
    position: relative;
    display: inline-block;
}

.header-btn .profile-menu .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 8px;
    left: 0; /* Align to the left of the profile name */
    background-color: blue;
    padding: 8px 8px;
    border-radius: 0.9rem;
    /* border: 1px solid #ddd; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    z-index: 1; /* Ensure menu is above other content */
}

.header-btn .profile-menu:hover .dropdown-menu {
    display: block; /* Show dropdown on hover */
}

.dropdown-menu a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 8px 12px;
    /* border-bottom: 1px solid #ddd; */
    white-space: nowrap; /* Prevent text wrapping */
}

.dropdown-menu a:hover {
    border-radius: 0.9rem;
    background-color: gold;
    color: black;
}

.no-bookings{
    padding: 80px 0;
    text-align: center;
    background-color: #eeeff1;
    border-radius: 0.9rem;
}

.booking-infos{
    color: white;
    background-color: blue;
    border-radius: 0.9rem;
    /* box-shadow: 2px 3px 5px gray; */
}

.edit-profile-img{
    margin-right: 100px;
}

.upload{
    width: 200px;
    position: relative;
    margin: auto;
    text-align: center;
    transition: all ease-in-out 0.3s;

  }

  .upload:hover{
    box-shadow: 2px 3px 13px gray;
    transition: all ease-in-out 0.3s;
    border-radius: 50%;
  }


/* .edit-profile-img{
    padding-left: 0px;
    box-shadow: 0.5px 5px 20px black;
    transition: all ease-in-out 0.3s;
} */
  .upload img{
    border-radius: 50%;
    border: 8px solid #DCDCDC;
    width: 200px;
    height: 200px;
    transition: 0.5s all ease-in-out;
  }
/* 
.upload img:hover{
  transform: scale(1.5);
} */
  .upload .rightRound{
    position: absolute;
    bottom: 0;
    right: 0;
    background: blue;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    color: white;
  }

  .upload .cancel-rightRound{
    position: absolute;
    bottom: 0;
    right: 0;
    background: red;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    color: white;
  }

.upload .rightRound:hover, .upload .cancel-rightRound:hover{
  background-color: gold;
  color: black;
}

  .upload .fa:hover{
      color: black;
  }

  .upload input{
    position: absolute;
    transform: scale(2);
    opacity: 0;
  }
  .upload input::-webkit-file-upload-button, .upload input[type=submit]{
    cursor: pointer;
  }

  .upload-profile-pic{
      text-align: center;
      margin-top: 15px;
  }

.about-text .hidden-about-text{
    display: none;
}


